<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>06F9E8B8-A2F0-4FD4-BB05-BB85B736903B</string>
			<key>character</key>
			<string>$</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Spotify.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>21</integer>
			<key>modifiers</key>
			<integer>1704234</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>F4B78BD2-FB14-44D8-B058-2766ED294374</string>
			<key>character</key>
			<string>@</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Visual Studio Code.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>19</integer>
			<key>modifiers</key>
			<integer>1704234</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSRelaunchSelfTrigger</string>
			<key>applicationScope</key>
			<array>
				<string>com.blacktree.Quicksilver</string>
			</array>
			<key>applicationScopeType</key>
			<integer>1</integer>
			<key>command</key>
			<string>QSRelaunchSelfCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>12</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B29AF335-021C-4CFC-A269-10C7D1DF1252</string>
			<key>character</key>
			<string>!</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>18</integer>
			<key>modifiers</key>
			<integer>1704234</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>CB6ACB71-075D-4959-A134-FEC81CE462FD</string>
			<key>character</key>
			<string>#</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>20</integer>
			<key>modifiers</key>
			<integer>1704234</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>593C9187-23FF-4BE3-8ABF-24FFF04E24C0</string>
			<key>character</key>
			<string>)</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>QSObjCSendMessageAction</string>
				<key>directID</key>
				<string>QSTriggersShowMessage</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>29</integer>
			<key>modifiers</key>
			<integer>1704234</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
